input[type="text"],
input[type="number"],
input[type="date"] {
    font-size: var(--font__size--small);
    padding: var(--spacing__x-small);
    background: var(--background__colour);
    border: 1px solid var(--border__colour);
    border-radius: var(--border__radius);
}