$directions: (
    top: (top),
    right: (right),
    bottom: (bottom),
    left: (left),
    vertical: (top, bottom),
    horizontal: (left, right),
    all: (top, right, bottom, left)
);

$spacing-properties: (
    margin,
    padding
);

@each $property-name in $spacing-properties {

    .#{ $property-name }__all--none {
        #{ $property-name }-top: 0;
        #{ $property-name }-right: 0;
        #{ $property-name }-bottom: 0;
        #{ $property-name }-left: 0;
    }

    @each $direction-name, $direction-value in $directions {

        .#{ $property-name }__#{ $direction-name }--none {

            @each $direction-property in $direction-value {
                #{ $property-name }-#{ $direction-property }: 0;
            }

        }

        @each $spacing-name, $spacing-value in $spacings {

            .#{ $property-name }__#{ $direction-name }--#{ $spacing-name } {

                @each $direction-property in $direction-value {
                    #{ $property-name }-#{ $direction-property }: var(--spacing__#{ $spacing-name });
                }

            }

        }

    }
}