pre {
    margin: 0
}

a {
    text-decoration: none;
    color: var(--colour__primary);

    &:hover,
    &:active {
        color: var(--colour__primary--dark);
    }
}

.text--centre {
    text-align: center;
}

.text--no-wrap {
    overflow: hidden;
    white-space: nowrap;
}