html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    overflow-y: auto;
}

html {
    font-size: var(--spacing__size);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    font-family: var(--font__family);
    font-size: var(--font__size);
    font-weight: var(--font__weight);
    line-height: var(--font__line-height);
    color: var(--font__colour);
    background-color: var(--background__colour);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    transition: color var(--animation__timing) var(--animation__easing),
                background var(--animation__timing) var(--animation__easing);
}

a {
    color: var(--colour__primary);
    text-decoration: none;
    
    &:hover,
    &:active {
        text-decoration: none;
        color: var(--colour__primary--dark);
    }
}

strong {
    font-weight: var(--font__weight--semi-bold);
}