.button {
    display: inline-block;
    padding: 0.75rem 2rem;
    font: inherit;
    font-weight: var(--font__weight--semi-bold);
    color: var(--font__colour);
    background-color: var(--foreground__colour);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background var(--animation__timing) var(--animation__easing);
    
    &:hover {
        background-color: var(--foreground__colour--dark);
    }

    &:disabled {
        opacity: 0.75;
        cursor: not-allowed;
    }
}

.button--primary {
    color: var(--font__colour--inverse);
    background-color: var(--colour__primary);
    
    &:hover {
        background-color: var(--colour__primary--dark);
    }
}

.button--alert {
    color: var(--font__colour--inverse);
    background-color: red;
    
    &:hover {
        background-color: red;
    }
}